<ul>
  @for (place of places(); track place.id) {
    <li class="place-item">
      @if (!showRemoveButton()) {
        <div class="place-content">
          <img
            [src]="'http://localhost:3000/' + place.image.src"
            [alt]="place.image.alt"
            (click)="onImageClick(place)"
            style="cursor: pointer"
          />
          <div class="title-container">
            <h3>{{ place.title }}</h3>
            <button
              class="favorite-button"
              (click)="onSelectPlace(place)"
              title="Add to favorites"
            >
              <span class="heart-icon">♥</span>
            </button>
          </div>
        </div>
      } @else {
        <div class="place-content">
          <img
            [src]="'http://localhost:3000/' + place.image.src"
            [alt]="place.image.alt"
            (click)="onImageClick(place)"
            style="cursor: pointer"
          />
          <div class="title-container">
            <h3>{{ place.title }}</h3>
          </div>
          <button class="remove-button" (click)="onRemovePlace(place)">
            Remove from favorites
          </button>
        </div>
      }
    </li>
  }
</ul>
